<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.gumba.cordova.plugin.printer.ZebraPrinter" version="0.0.1">
    <name>ZebraPrinter</name>
    <description>Cordova Zebra Printer Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,zebra,printer</keywords>

    <js-module src="www/zebra-printer.js" name="ZebraPrinter">
        <clobbers target="plugin.zebra-printer" />
        <clobbers target="cordova.plugins.zebra-printer" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ZebraPrinter" >
                <param name="android-package" value="com.gumba.cordova.plugin.printer.ZebraPrinter"/>
            </feature>
        </config-file>
        <lib-file src="src/android/libs/ZSDK_ANDROID_API.jar"/>
        <source-file src="src/android/ZebraPrinter.java" target-dir="src/com/gumba/cordova/plugin/printer" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ZebraPrinter">
                <param name="ios-package" value="ZebraPrinter"/>
            </feature>
        </config-file>
        <header-file src="src/ios/ZebraPrinter.h" />
        <source-file src="src/ios/ZebraPrinter.m" />
    </platform>
</plugin>